### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

test.ipynb

tf-2024.pdf